name: Descarga Automatizada Diario

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  descargar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar scraper
        run: python scraper.py

      - name: Guardar cambios
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@github.com"

          git add data/

          if git diff --staged --quiet; then
            echo "Sin cambios"
          else
            git commit -m "Reporte $(date +'%Y-%m-%d')"
            git pull --rebase origin main
            git push
          fi
