name: Descargar visitas

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          pip install -r requirements.txt
          playwright install

      - name: Ejecutar scraper
        run: python scraper.py

      - name: Subir Excel
        uses: actions/upload-artifact@v4
        with:
          name: reporte-visitas
          path: "*.xlsx"
