name: Descarga automatizada visitas

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Chrome
      run: |
        sudo apt update
        sudo apt install -y google-chrome-stable

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install selenium
        pip install undetected-chromedriver

    - name: Run scraper
      run: python scraper.py

    - name: Upload Excel
      uses: actions/upload-artifact@v4
      with:
        name: reporte-visitas
        path: "*.xlsx"
